; Top-most EditorConfig file
root = true

[*.java]
indent_style = space
indent_size = 2

[*.groovy]
indent_style = space
indent_size = 2

[*.gant]
indent_style = space
indent_size = 2

[*.properties]
indent_style = space
indent_size = 2

[*.kt]
indent_style = space
indent_size = 4

[*.cs]
indent_style = space
indent_size = 2

[*Test.cs]
place_simple_method_on_single_line = true
place_singleline_method_attribute_on_same_line = true
[Test*.cs]
place_simple_method_on_single_line = true
place_singleline_method_attribute_on_same_line = true

; 2-column space indentation
[*.vb]
indent_style = space
indent_size = 2

; 2-column space indentation
[*.xml]
indent_style = space
indent_size = 2

; 2-column space indentation
[*.xaml]
indent_style = space
indent_size = 2

; 2-column space indentation
[*.js]
indent_style = space
indent_size = 2