.idea
*.iml
.vscode
build
/.gradle
.rdgen
rd-cpp/build
rd-cpp/export
*.code-workspace
cmake-build-*
rd-net/RdCore/bin
rd-net/RdCore/obj
rd-net/RdFramework/bin
rd-net/RdFramework/obj
/artifacts/
# Project exclude paths
/rd-cpp/doc/
# Project exclude paths
/buildSrc/.gradle/
/rd-cpp/demo/
/rd-cpp/gradle/
/rd-cpp/src/
/rd-cpp/thirdparty/
/rd-kt/rd-gen/out/
/rd-kt/rd-gen/out/production/classes/
/rd-kt/rd-gen/out/test/classes/
/rd-kt/rd-swing/out/
/rd-kt/rd-swing/out/production/classes/
/rd-kt/rd-text/out/
/rd-kt/rd-text/out/production/classes/
/rd-kt/rd-text/out/test/classes/
/rd-net/