.idea
*.iml
*.Generated.cs
.vscode
.vs/
build
cache/
/**/.gradle
.rdgen
*.code-workspace
cmake-build-*
/artifacts/
.DS_Store
*.nupkg
*.snupkg
*.DotSettings.user
# Project exclude paths
/rd-kt/rd-cross/out/
/rd-kt/rd-cross/out/test/classes/

/rd-kt/gradle
/rd-kt/rd-gen/out/
/rd-kt/rd-gen/obj/
/rd-kt/rd-gen/out/production/classes/
/rd-kt/rd-gen/out/test/classes/
/rd-kt/rd-swing/out/
/rd-kt/rd-swing/out/production/classes/
/rd-kt/rd-text/out/
/rd-kt/rd-text/out/production/classes/
/rd-kt/rd-text/out/test/classes/

/rd-net/**/bin
/rd-net/**/obj
/rd-net/packages/
/rd-net/Cross/Common/Model
/rd-net/Rd.sln.DotSettings.user

/rd-cpp/build
/rd-cpp/export/libs
/rd-cpp/export/include
/rd-cpp/gradle/
/rd-cpp/demo/
/rd-cpp/src/rd_framework_cpp/src/test/util/entities/
/rd-cpp/src/rd_framework_cpp/src/test/util/interning/