[submodule "rd-cpp/googletest"]
	path = rd-cpp/googletest
	url = https://github.com/google/googletest.git
[submodule "rd-cpp/thirdparty/spdlog"]
	path = rd-cpp/thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
