name: rd-kt-container

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-24.04
    container: adoptopenjdk/openjdk11:x86_64-ubuntu-jdk-11.0.11_9
    env:
      GRADLE_USER_HOME: ${{ github.workspace }}/.github/gradle
      TEAMCITY_VERSION: 1 # temporary; to disable cross tests
    timeout-minutes: 25
    steps:
      - uses: actions/checkout@v6

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Assemble
        run: ./gradlew assemble
      - name: Build
        run: ./gradlew build
      - name: Upload Test Results
        uses: actions/upload-artifact@v6
        if: ${{ always() }}
        with:
          name: tests-log.${{ runner.os }}
          path: "**/reports/*"
