name: rd-net

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ macos-13, ubuntu-22.04, windows-2022 ]
      fail-fast: false
    timeout-minutes: 15
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '7.0.x'
    - name: Restore
      run: cd rd-net && dotnet restore
    - name: Compile
      run: cd rd-net && dotnet build --configuration Release --no-restore
    - name: Tests
      run: cd rd-net && dotnet test --no-restore --verbosity quiet --logger trx
    - uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: ${{ runner.os }}.test-results
        path: "**/TestResults/*"
