name: rd-kt

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-10.15, windows-2019]
    env:
      GRADLE_USER_HOME: ${{ github.workspace }}/.github/gradle
      TEAMCITY_VERSION: 1 # temporary; to disable cross tests
    timeout-minutes: 25
    steps:
    - uses: actions/checkout@v3

    - name: Gradle Wrapper Cache
      uses: actions/cache@v3
      with:
        path: ${{ env.GRADLE_USER_HOME }}/wrapper
        key: ${{ runner.os }}.gradle-wrapper.${{ hashFiles('gradle/**') }}
    - name: Gradle Cache
      uses: actions/cache@v3
      with:
        path: ${{ env.GRADLE_USER_HOME }}/caches/modules-2
        key: ${{ runner.os }}.gradle.${{ hashFiles('**/*.gradle.kts') }}

    - name: Assemble
      run: ./gradlew assemble
    - name: Build
      run: ./gradlew build
    - name: Upload Test Results
      uses: actions/upload-artifact@v2.2.4
      if: ${{ always() }}
      with:
        name: tests-log.${{ runner.os }}
        path: "**/reports/*"
